body {
  background: #000;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nero-box {
  border: 8px solid #6C2EB7;
  padding: 2rem 3rem 1.5rem 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nero-name {
  color: #6C2EB7;
  font-size: 12rem;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.05em;
}

.under-construction {
  color: #fff;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .nero-name {
    font-size: 2.5rem;
  }
  .under-construction {
    font-size: 1.5rem;
  }
  .nero-box {
    padding: 1rem 1rem 0.75rem 1rem;
  }
} 

.timer {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.05em;
}